.colmaindiv {
    text-align:center;
    color: #0d0254;
}
/* .colinfo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 60px;
    place-items: center;
    color: #0d0254;
    margin-bottom: 100px;
}
.investor {
    margin-right: 50px;
    margin-left: 100px;
    background-color: rgb(224, 207, 250);
    max-width: 100%;
    text-align: center;
}
.mentor {
    margin-right: 50px;
    margin-left: 100px;
    background-color: rgb(224, 207, 250);
    max-width: 100%;
    text-align: center;
} */
.colhead {
    font-size: 60px;
    margin-bottom: 150px;
}
.shorthead {
    font-size: 35px;
    padding: 2%;
    margin: 2%;
}
.usefulbut {
    border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #0d0254;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.usefulbut:hover {
    background-color: rgb(194, 156, 255);
    color: #0d0254;
}


.colinfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .investor,
  .mentor {
    width: 45%;
    margin: 20px;
    text-align: center;
    background-color: rgb(224, 207, 250);
  }
  
 
  @media screen and (max-width: 768px) {
    .investor,
    .mentor {
      width: 100%;
    }
  }
  