/* General Styles */
.imain {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container Styles */
  .itop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .imain {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Add margin for better spacing */
  }
  
  /* Header Styles */
  .ihead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .ihandshake {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .imainhead {
    font-size: 24px;
    margin: 0;
  }
  
  /* Paragraph Styles */
  .ipara1,
  .ipara {
    margin: 10px 0;
  }
  
  /* Footer Styles */
  .ipara:last-child {
    margin-bottom: 0;
  }

  .itickimg{
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
}
  
  /* Media Queries for Responsiveness */
  @media only screen and (max-width: 600px) {
    .imain {
      max-width: 100%;
      
    }
    .itop{
    padding-bottom: 20%;
    padding-top: 20%;
    padding-left:5%;
    padding-right: 5%;
    }
  }
  