.imain {
    height: 500px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 100px;
    height: 600px;
    color: #0b0254;
    margin-top: 0;
    align-items: center;
}
.ihandshake{
    height: 100px;
    width: 100px;

}
.itickimg {
    height: 30px;
    width: 30px;
}
.ihead {
    padding-top: 70px;
    text-align: center;
    color: #0b0254;
    font-weight: 700;
}
.imainhead {
    font-size: 40px;
}
.ipara1 {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 300;
    padding-left: 40px;
    color: #0b0254;
    text-align: center;
    font-size:larger;
}
.ipara {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 400;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    color: #0b0254;
    font-size: x-large;
}
@media (max-width: 480px) {
    .imain {
        background-color: #fff;
    }
}