/* General Styles */
.tmain {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container Styles */
  .ttop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  
  .tmain {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Header Styles */
  .thead {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tickimg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .heading_message {
    font-size: 24px;
    margin: 0;
  }
  
  /* Paragraph Styles */
  .tpara1,
  .tpara {
    margin: 10px 0;
  }
  
  /* Footer Styles */
  .tpara:last-child {
    margin-bottom: 0;
  }
  
  /* Media Queries for Responsiveness */
  @media only screen and (max-width: 600px) {
    .tmain {
      max-width: 100%;
    }

    .ttop{
    padding-left:5%;
    padding-right: 5%;
    }
  }
  