.eventmain {
    display: flex;
    padding-bottom: 0px;
    height: 400px;
    padding-top: 100px;
    
}
.multicolortext {
    background-image: linear-gradient(to left, blue, violet, indigo, green, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    display: grid;
    place-content: center;
  }
.eventname {
    width: 100%;
    height: auto;
    color: #0d0254;
}
.calenimg {
    max-height: 60px;
    max-width: 60px;
}
.elist {
    display: flex;
    height: auto;
    width: 100%;
 margin-bottom: 2%;
}
.eventmhead {
    text-align: center;
}
.eventCover {
    text-align:center;
    font-size: 40px;
    color: gray;
}