.eventmain {
    display: flex;
    padding-bottom: 0px;
    height: 400px;
    padding-top: 100px;
}
.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
.eventname {
    margin-left: 80px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: #0d0254;
}
.calenimg {
    height: 90px;
    width: 90px;
}
.elist {
    background-color: rgb(244, 238, 254);
    height: 300px;
    width: 900px;
    margin-left: 200px;
    border-radius: 2%;
    margin-bottom: 100px;
    padding-bottom: 50px;
}
.eventmhead {
    margin-left: 200px;
    margin-bottom: 70px;
    display: flex;
    color: #0d0254;
    font-size: 15px;
}
.eventCover {
    text-align:center;
    font-size: 45px;
    color: gray;
}