.eventmain {
    display: flex;
    padding-bottom: 0px;
    height: 400px;
    padding-top: 100px;
}
.eventb {
    color: rgb(224, 224, 224);
    font-weight: 800;
    height: 50px;
    width: 150px;
    background-color: #0d0254;
}
.eventb:hover {
    background-color: rgb(30, 14, 252);
}
.eventinfo {
    width: 800px;
    height: 300px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: large;
    color: #0d0254;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgb(224, 224, 224);
    border-radius: 90%;
    text-align: center;
}
@media (max-width: 1000px) {
    .eventinfo {
        background-color: white;
    }
}
.eventp {
    font-weight: 500;
    font-style: italic;
}
.eventimg {
    height: 320px;
    width: 300px;
    align-items: center;
    color: #0d0254;
    background-color: rgb(224, 224, 224);
}
@media (max-width: 1000px) {
    .eventmain {
        margin: 0;
        line-height: 1.6;
        font-size: 17px;
    }
    .eventimg {
        display: none;
    }
    .eventmain {
        margin-bottom: 250px;
    }
}