.coadminform {
    padding: 2%;
    margin: 2%;
}
.coform{
    display: grid;
    place-items: center;
    grid-template-columns: norepeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    height: auto;
  
}
.emailinp {
    max-width:100%;
    height: 30px;
    font-size: 20px;
}
.emaillab {
    font-size: 20px;
}
.coadminbut {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #0d0254;
  margin-left: 70px;
  font-size: 17px;
}
.coadminbut:hover {
    background-color: rgb(194, 156, 255);
    color: #0d0254;
  }