.eventfmain {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.eventfinp {
    height: 30px;
    width: 90%;
}
.eventfbut {
  border-radius: 50px;
  height: 40px;
  width: 200px;  
  color: #FFF;
  background-color: #0d0254;
  font-size: 17px;
  margin-bottom: 3%;
  margin-left: 35%;
}
.eventfhead {
    text-align: center;
    color: #0d0254;
    font-size: 60px;
}
.eventfl1 {
    font-size: 20px;
    color: #0d0254;
}

@media screen and (max-width:480px) {
    .eventfhead{
        font-size: 30px;
        margin-top: 3%;
        margin-bottom: 5%;
        padding: 2%;
    }
    .eventfl1{
        font-size: 15px;
    }
    .eventfbut{
        border-radius: 50px;
        height: 30px;
        width: 180px;  
        color: #FFF;
        background-color: #0d0254;
        font-size: 14px;
        margin-left: 18%;
    }
}