.pagee{
  margin: 50px;
}
.portCover {
  text-align: center;
  padding: 20px;
}

.userTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.userTable th,
.userTable td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: left;
}

.userTable th {
  background-color:rgb(192, 192, 254)
}

.showdata {
  margin-bottom: 20px;
}

.leftside {
  list-style-type: none;
}
@media (max-width: 768px){
  .pagee{
    margin: 0;
  }
}


.delete-button {
  
  background-color:  #fff; /* Red background color */
  color: #0a1aed; /* White text color */
  border: none; /* No border */
  padding: 8px 12px; /* Padding for better spacing */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.delete-button:hover {
  background-color: #06f41e; /* Darker red on hover */
}

.delete-icon {
  color: inherit; /* Inherit the color from the parent element */
  margin-right: 6px; /* Margin between the icon and text */
}
