.eliapply {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #0d0254;
  margin-left: 70px;
  font-size: 17px;
  }
.eliapply:hover {
  background-color: rgb(194, 156, 255);
  color: #0d0254;
}
  .here3 .heading {
    text-align: left;
    font-size:xx-large;
  }
  .here3 .div_1 {
    
    padding-left: 10%;
    margin: 0;
    margin-left: 75px;
  }
  .here3 .div_2 {
    margin-left: 75px;
    padding-left: 10%;
  }
  .dparent {
    display: flex;
    color: #0d0254;
    margin-top: 50px;
  }
  .epara {
    font-size: 20px;
    text-align: left;
  }
  .here3 {
    padding: 20px;
    margin: 20px;
  }
  .h121{
    margin-top: 20px;
    padding: 20px;
    text-align:center;
    font-size: 45px;
  }

  @media (max-width: 1000px){
    .dparent{
      display: grid;
      place-content: center;
    }
    .div_1,.div_2{
      padding: 2%;
      margin-right: 2%;
      text-align: left;
      width: 360px;
    }
  }